module.exports = {
    'googleAuth': {
        'clientID': 'CLIENT_ID_GOES_HERE',
        'clientSecret': 'CLIENT_SECRET_GOES_HERE',
        'callbackURL': 'http://localhost:3000/auth/google/callback'
    }
}